<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Book App</title>

  <link rel="stylesheet" href="styles/styles.css" rel="stylesheet" type="text/css">

  
</head>

<body>
  <header>
    <nav>
      <center>
      <span>Google Book Search Application</span>
      <br>
    
      <a href="/search">Search Google Books</a>
      <br>
     
    </center>
  
    </nav>
  </header>

  <main>
 

    </div>
  </main>
</body>

</html>